@import 'home.sass'

/////// HEADER ///////

.clinics-header
  h2
    color: #f3510e

.juniors-header
  h2
    color: #751FD1

.calendar-header
  h2
    color: #bda107

.locations-header
  h2
    color: #8fec1b

a#home-hover:hover
  background-color: #1098dc

a#teams-hover:hover
  background-color: #de2222

a#coaches-hover:hover
  background-color: #0db9b9

a#clinics-hover:hover
  background-color: #f3510e

a#juniors-hover:hover
  background-color: #751FD1

a#calendar-hover:hover
  background-color: #bda107

a#locations-hover:hover
  background-color: #8fec1b

a#registration-hover:hover
  background-color: #ce327f

/////// NAVBAR HOVER ///////

/////// SECTION ///////

.clinics-div
  .inner-section
    h4
      color: #f3510e

.juniors-div
  .inner-section
    h4
      color: #751FD1





