// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$center: 0 auto
$navbar-font: 'Mitr', sans-serif
$body-color: #eee
$orbitron: 'Orbitron', sans-serif
$one-em: 1em

// @media screen and (max-width: 320px)

// font-family: 'Lato', sans-serif
// font-family: 'Mitr', sans-serif
// font-family: 'Lalezar', cursive
// font-family: 'Changa', sans-serif
// font-family: 'Cairo', sans-serif
// font-family: 'Exo 2', sans-serif
// font-family: 'Orbitron', sans-serif

body
  font-family: 'Mitr', sans-serif
  background-color: #000
  padding-top: 0
  color: $body-color

h2
  font-family: $orbitron

.container-fluid 
  text-align: center

a
  color: #1098dc
  font-size: 1.4em
  @media screen and (max-width: 850px)
  font-size: 1em

.center
  margin: $center


//////// NAVBAR ///////

.navbar
  margin: 0 auto 0

.navbar-default 
  background-color: none
  border-color: none 

.navbar-border
  border-bottom: 2px solid #eee
  margin: 0 auto 3%

.navbar-toggle
  background-color: #eee
  border: 1px solid #333

.navbar-toggle .icon-bar 
  background-color: #000

.dropdown-menu
  min-width: 117px

.header-logo
  position: relative
  right: 22px
  .jammers-img
    width: 60%
    height: 80px
    @media screen and (max-width: 1050px) 
      width: 60%
      height: 70px
    @media screen and (max-width: 768px) 
      width: 80%
      height: 60px
  // #social-icons
  //   margin-top: .5%
  //   position: relative
  //   left: 25px
  //   color: #ce327f
  //   cursor: pointer
  //   @media screen and (max-width: 990px) 
  //     left: 20px
  //   @media screen and (max-width: 525px)
  //     display: none 
  .navbar-toggle-btn
    position: relative
    top: -20px
    right: 10px

.fa.fa-facebook-square.fa-2x:hover
  color: #3b5998
.fa.fa-instagram.fa-2x:hover
  color: #751FD1
.fa.fa-envelope-o.fa-2x:hover
  color: #B81512
.fa.fa-camera-retro.fa-2x:hover
  color: #CCB825

.hibiscus
  position: relative
  top: -25px
  right: -18px
  width: 3%
  @media screen and (max-width: 525px) 
    width: 5%

.padding-2
  padding: 2% 0 0 
  @media screen and (max-width: 525px) 
    padding: 4% 0 0 

.nav>li
  margin-right: 0
  display: inline-block
  background-color: #000
  @media screen and (max-width: 525px)
    // float: left
    text-align: center

.nav>li>a
  width: 110px
  background-color: #eee
  font-weight: bolder
  font-size: 1.1em
  font-family: $orbitron
  text-decoration: underline
  margin-bottom: 4%
  padding: 2px 5px
  border-radius: 5px
  @media screen and (max-width: 768px)
    width: 100px
    font-size: .9em
  @media screen and (max-width: 525px)
    width: 80px
    padding: 0

.nav>li>a:hover
  color: white

.dropdown-menu>li>a 
  font-family: $orbitron

.dropdown-menu .divider
  border-bottom: 1px solid black
  height: 1px
  background-color: #000
  overflow: hidden
  
.center 
  margin: $center

///////// HOME CONTENT ///////
.home-content
  color: #000

.register-btn
  background-color: #1098dc

.register-btn:hover
  background-color: #ce327f

///////// CAROUSEL ///////

header.carousel
  height: 100%
  @media screen and (max-width: 525px)
    height: 40%


.caption-text
  float: right

///////// IMAGES ///////

.img-size
  min-width: 100%
  height: 250px
  // max-height: 221px
  @media screen and (max-width: 1200px) 
    // max-height: 188px
  @media screen and (max-width: 995px) 
    height: 300px
  @media screen and (max-width: 768px)
    height: 400px
    // height: auto
  @media screen and (max-width: 525px)
    height: 278px

.img-hover:hover
  background-image: linear-gradient(rgba(0, 215, 15, 0.5), rgba(0, 215, 15, 0.5)), url(/images/clinic.jpg)


///////// FOOTER ///////
footer > ul > li > a
  font-size: 1.2em

footer
  ul
    @media screen and (max-width: 525px)
      padding-left: 0

footer > ul > li > a
  font-size: $one-em
  font-family: $orbitron

.font-size-1em
  font-size: $one-em

li 
  // list-style: none
  display: inline-block
  margin-right: 1%
  width: none

.hi-islands-logo
  width: 7%
  








