@import 'home'

.orbitron
  font-family: $orbitron

.clinic-photos
  width: 50%
  margin: 0 auto 2%
  .clinic-img-size
    width: 50%
    @media screen and (max-width: 1050px) 
      display: none

.admin-email
  font-size: 1em

/////// SECTION ///////

section
  position: relative
  border: 1px solid #eee
  margin: 2% auto 0
  width: 70%
  @media screen and (max-width: 525px) 
    width: 90%
  .inner-section
    width: 80%
    margin: $center
    padding: 4% 0
    h4
      color: #8fec1b
      margin-bottom: 0
    span 
      font-size: 1.5em

p
  font-size: 1.2em

/////// CALENDAR ///////
.calendar-container
  .iframe-calendar
    max-width: 100%



/////// REGISTRATION ///////
.registration
  width: 30%


/////// JUNIORS ///////

.youtube-video
  .iframe-youtube
    max-width: 100%
  



