<div class="container-fluid">
 <footer class="footer-div">
    <ul>
      <li><a href="/">Home</a></li> 
      <li><a href="/calendar">Calendar</a></li>
      <li><a href="/clinics">Contact Us</a></li>
      <li><a href="#">Juniors</a></li>
      <li><a href="http://www.aloharegionjuniors.org/" target=_"blank">Aloha Region</a></li>
      <li><a href="https://roxvolleyball.com/" target=_"blank">Rox Volleyball</a></li>
      <img class="hi-islands-logo" src="images/black-hi-islands.jpg">
    </ul>

    <p class="font-size-1em">Copyright © Jammers Volleyball Club Hawaii 2016. All Rights Reserved</p>
    <ul>
      <li><a href="https://www.facebook.com/jammersvolleyballclubhawaii/" target="_blank"><img src="images/facebook.png"></a></li> 
      <li><a href="#" target="_blank"><img src="images/instagram.png"></a></li>
      <li><a href="mailto:Peter.Jammers.VBC.Hawaii@gmail.com" target="_blank"><img src="images/gmail.png"></a></li>
    </ul>
  </footer>
</div>
