<div class="container-fluid">
  <div class="calendar-header">
    <h2>Calendar 2016</h2>
  </div>
  <div class="col-xs-12 calendar-container">
    <iframe class="iframe-calendar" src="https://www.google.com/calendar/embed?src=02f11d3976dc0b2ifu746c3v6s%40group.calendar.google.com&ctz=Pacific/Honolulu" width="1000" height="700" frameborder="0" scrolling="no">
    </iframe>
  </div>
</div>