<div class="container-fluid">
  <h2>Clinics 2016</h2>
    <img src="/images/clinic.jpg">
  <p>
  Who:
Girls 7-18

Focus:
Fundamental volleyball skills

Sessions:
Monthly (May-Oct)

Schedule:
Click “Calendar” menu button
Coaches will assign players
to a letter group or clinic.

Gym Maps:
Click “Locations” menu button

Payment options:
Select “Registration Only” (May-Oct)
$30 per day
(cash or check to Jammers VBC
payable at the gym)
or
Select month (Jun-Oct)
$300 per month
(unlimited days during the month
plus a free Jammers shirt)

Every paid monthly registration
will earn your family a
“$50 Jammers Training Fee Coupon”
that will reduce your
May 2017 Jammers club training fee.
A total of $250 in coupons
can be earned (Jun-Oct).

First time players can
“check out” the clinic for
only $20 on their first day.

IMPORTANT:
Fill out this form to be able to enter the USCG Base for Jammers Juniors clinic
USCG Security Form

Registration:
Click “Registration” menu button
and choose 2016 Jammers Clinics
(Monthly or Registration Only
for daily drop-in)

Questions:
Peter.Jammers.VBC.Hawaii@gmail.com



  </p>
</div>