<div class="container-fluid">

  <div class="fees-header">
    <h2>Fees 2016 - 2017</h2>
  </div>

  <section class="fees-section text-left">
    <div class="inner-section">
      <h4>Club Fees</h4>
        <p>$1,750(payable in seven $250 installments)
          <br>(at least 3 practices per week)</p>
      <p>The other fees that do not go to the club, but that the club helps to collect, are listed below.</p>

      <h4>Team Travel Fee:</h4>
        <p>$600 per trip (1 or 2 trips per season)</p>
        <ul>
          <li>- Tournament entry fee</li>
          <li>- Coaches expenses</li>
          <li>- Team parent lodging</li>
          <li>- Team meals and hydration</li>
          <li>- Team transportation expenses</li>
          <li>- etc.</li>
        </ul>

       <h4>Individual Travel Costs:</h4>
        <p>(not included in team travel fee)</p>
        <ul>
          <li>- Airfare</li>
          <li>- Hotel</li>
          <li>- Spending Money</li>
          <li>- etc.</li>
        </ul>

      <h4>USAV Membership Fee</h4>
        <p>$53(collected for USA Volleyball)</p>

      <h4>AAU Membership Fee</h4>
        <p>$15(collected for AAU)</p>
      
      <h4>Local Tournament Fee</h4>
        <p>$75(collected for the USAV Aloha Region</p>

      <h4>Uniform Package and Backpack</h4>
        <p>estimated at $250</p>
        <ul>
          <li>- 2 jerseys</li>
          <li>- 2 practice shirts</li>
          <li>- 2 tights</li>
          <li>- 1 jacket</li>
          <li>- 1 warm up pant</li>
          <li>- 1 pair of knee pads</li>
          <li>- 1 pair of socks</li>
          <li>- 1 backpack</li>
        </ul>

      <h4>Registration</h4>
        <p>Click <a href="/registraion" target="_blank">Registration</a> to sign up for 2017 Club Season</p>

    </div>
  </section>

</div> 