<div class="container-fluid">
  <!-- <img src ="/images/jammerslogo.png"> -->
</div>
<!DOCTYPE html>
<html lang="en">

<body>

  <!-- Header Carousel -->
  <header id="myCarousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
          <div class="item active">
              <div class="fill" style="background-image:url('http://hdfreewallpaper.net/wp-content/uploads/2015/09/Inspirational-Quotes-Black-Background-Wallpaper-Desktop-free-for-download-hd.jpg');"></div>
              <div class="carousel-caption">
                  <h3 class="right">Caption 1</h3>
              </div>
          </div>
          <div class="item">
              <div class="fill" style="background-image:url('images/team2.jpg');"></div>
              <div class="carousel-caption">
                  <h3 class="right">Caption 2</h3>
              </div>
          </div>
          <div class="item">
              <div class="fill" style="background-image:url('http://wall.wallrage.com/wp-content/uploads/Funny-Quotes-Wallpaper-Background-HD-728x450.jpg');"></div>
              <div class="carousel-caption">
                  <h3 class="right">Caption 1</h3>
              </div>
          </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="icon-prev"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="icon-next"></span>
      </a>
  </header>














  <!-- Page Content -->
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2 class="page-header">Jammers Volleyball Club</h2>
          </div>
          <div class="col-md-4 col-sm-6">
              <a href="portfolio-item.html">
                  <img class="img-responsive img-portfolio img-size img-hover" src="/images/clinic.jpg" alt="clinic">
              </a>
          </div>
          <div class="col-md-4 col-sm-6">
              <a href="portfolio-item.html">
                  <img class="img-responsive img-portfolio img-size img-hover" src="/images/jammers-fathers-day.jpg" alt="">
              </a>
          </div>
          <div class="col-md-4 col-sm-6">
              <a href="portfolio-item.html">
                  <img class="img-responsive img-portfolio img-size img-hover" src="/images/jammers17s.jpg" alt="">
              </a>
          </div>
          <div class="col-md-4 col-sm-6">
              <a href="portfolio-item.html">
                  <img class="img-responsive img-portfolio img-size img-hover" src="/images/team1.jpg" alt="">
              </a>
          </div>
          <div class="col-md-4 col-sm-6">
              <a href="portfolio-item.html">
                  <img class="img-responsive img-portfolio img-size img-hover" src="/images/clinic2.jpg" alt="">
              </a>
          </div>
          <div class="col-md-4 col-sm-6">
              <a href="portfolio-item.html">
                  <img class="img-responsive img-portfolio img-size img-hover" src="/images/black-hi-islands.jpg" alt="">
              </a>
          </div>
      </div>

      <!-- Call to Action Section -->
      <div class="well">
          <div class="row">
              <div class="col-md-8">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
              </div>
              <div class="col-md-4">
                  <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
              </div>
          </div>
      </div>

      <hr>

  </div>
  <!-- /.container -->


  <!-- Script to Activate the Carousel -->
  <script>
  $('.carousel').carousel({
      interval: 5000 //changes the speed
  })
  </script>

