<div class="container-fluid">

  <div class="juniors-header">
    <h2>Jammer Juniors</h2>
      <h4 class="orbitron">Train em' young</h4>
  </div>

  <div class="youtube-video">
    <iframe class="iframe-youtube" width="560" height="315" src="https://www.youtube.com/embed/nnERQMFO9to" frameborder="0" allowfullscreen></iframe>
  </div>

  <section class="juniors-section text-left">
    <div class="inner-section">
      <h4>About:</h4>
        <p>Jammers Juniors focuses on developing basic motor skills with an introduction to volleyball</p>
      <h4>Who:</h4>
        <p>Girls ages 7-13</p>
      <h4>When:</h4>
        <p>Seasonal Sunday's only</p>
      <h4>See Calendar(JJrs Sunday's only):<a href="/calendar"> <i class="fa fa-calendar fa-2x" aria-hidden="true"></i></a></h4>
      <h4>See Locations<a href="/locations"> <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a></h4>
      <h4>Payment options:</h4>
        <p>1. Select “Registration Only” $25 per day(cash or check to Jammers VBC payable at the gym)<br>
        2. Select “Full Session” and pay online $185 per 8 week session(plus a free Jammers shirt)
        3. First time players can “check out” the clinic for only $20 on their first day.
        </p>

      <h4>IMPORTANT:</h4>
        <p>Fill out this form <a href="https://docs.google.com/forms/d/1RM0srFHTsHNKfE8oPCDmCrDKUhltuhDvce5AcsiIhog/viewform" target="_blank"><span>USCG Security Form</span></a> to be able to enter the USCG Base for Jammers Juniors clinic.</p>

      <h4>Registration</h4>
        <p>Click on “Registration” menu button and register for Jammers Juniors(Full Session or Registration Only for daily drop-in)Monthly or Registration Only for daily drop-in) <a href="/registration"><span>See Registration</span></a></p>

      <h4>Questions:</h4>
        <p class="admin-email">
        <a href="mailto:Peter.Jammers.VBC.Hawaii@gmail.com" target="_blank"><img src="images/gmail.png"></a> Peter.Jammers.VBC.Hawaii@gmail.com</p>
    </div>
  </section>

</div> 