<div class="container-fluid">
  <div class="locations-header">
    <h2>Locations</h2>
  </div>

  <section class="text-left">
    <div class="inner-section">
      <h4>AIEA HIGH SCHOOL GYM (AHS)</h4>
      <p>98-1276 Ulune St<br>
        Aiea, HI 96701</p>
      <h4>COAST GUARD GYM (CGG)</h4>
      <p>
        400 Sand Island Parkway<br>
        Honolulu, HI 96819
      </p>
      <ul> 
        <h4>Coast Guard Gym Rules</h4>
        <li>Sponsors must be in the gym at all times. Team parents, make sure you coordinate this for each practice.</li>
        <li>The gate guards will not let anyone enter the base unless a sponsor is already present.</li>
        <li>If you are waiting outside the gate for any reason, you must park across the street. For obvious security purposes, no vehicles are allowed to park on the base side of the street.</li>
        <li> All adults entering the base for a Jammers activity must be on the USCG Jammers guest list.</li>
        <li>Be prepared to provide a valid drivers license, vehicle safety check, vehicle registration, and auto insurance card to the gate guard.</li>
        <li>Please be very polite to the gate guard. If there is a problem, calmly drive off the base, park somewhere across the street, and call your team parent or coach.</li>
        <li>Sponsors, team parents, and coaches should be prepared to take calls while on base.</li>
        <li>The use of cell phones, headsets, or ear buds when entering the base is not permitted. The guards have been advised to turn you away if they notice you using one.</li>
        <li>There is no parking in any stall marked with a “CO” or “XO”.</li>
        <li>After 4:00 PM, parking is allowed in any stall (except for stalls on the Diamond Head side of the gym, which are reserved for coaches, and stalls across the lot on the mauka side of the gym which are reserved for Coast Guard personnel).</li>
        <li>No gas station privileges (unless you have base privileges).</li>
        <li>The Exchange may only be used if a sponsor is with you.</li>
        <li>A sponsor is allowed to take 2 guests (15 years old and older) into the weight room and must stay with them at all times.</li>
        <li>We can utilize Club 14, but should refrain from alcohol.</li>
        <li>Changing of any article of clothing must take place in a restroom (applies to children and adults).</li>
        <li>Siblings and other small children must be supervised at all times and kept off the courts.</li>
        <li> We can only use half of the gym during practices. No one should be on the other half, except to shag volleyballs. Coaches and team parents, we really have to be on top of this.</li>
        <li>Please stay off the gym stairs.</li>
        <li>We are not allowed to prop the gym doors open with foreign objects. Please do not wedge anything under the doors to hold them open.</li>
        <li>Anyone outside the gym, must stay on the bleacher exterior side (Diamond Head side). There can be no wandering around the outside of the gym or around the base.</li>
        <li>We can lose the privilege of using this facility if we do not adhere to the rules.</li>
        <li>Thank you in advance for your continued cooperation.</li>
      </ul>
      <h4>HALAWA DISTRICT PARK GYM (HDG)</h4>
      <p>99-795 Iwaiwa Street<br>
        Aiea, HI 96701</p>
      <h4>KALIHI VALLEY DISTRICT PARK GYM (KVG)</h4>
      <p>1911 Kamehameha IV Road<br>
        Honolulu, HI 96819</p>
      <h4>MANOA VALLEY DISTRICT PARK GYM (MVG)</h4>
      <p>2721 Kaaipu Avenue<br>
        Honolulu, HI 96822</p>
      <h4>MOANALUA HIGH SCHOOL GYM (MHS)</h4>
      <p>2825 Ala Ilima Street<br>
        Honolulu, HI 96819</p>
      <h4>NUUANU CONGREGATIONAL CHURCH GYM (NCG)</h4>
      <p>2651 Pali Hwy<br>
        Honolulu, HI 96817</p>
        <ul> 
          <h4>Nuuanu Congregational Church Gym Rules</h4>
          <li>Please park in the upper lot prior to 6:00 PM.</li>
          <li>The gym is reserved for church preschool use until 4:00 PM.</li>
          <li>Please stay out of the gym area until after 4:00 PM.</li>
          <li>Please do not set up prior to your practice time.</li>
          <li>Players are to wait quietly outside of the gym with adult supervision.</li>
          <li>This is to ensure the safety of all, especially the church preschoolers.</li>
          <li>Please do not enter the gym until 4:30 PM.</li>
          <li>You may park in the lower lot after 6:00 PM.</li>
          <li>No siblings are allowed to play outside of the gym.</li>
          <li>There should be no practicing outside of the gym.</li>
          <li>Team parents, please remind everyone to keep the restrooms clean.</li>
          <li>Team parents, please do a restroom check after practice is done.</li>
          <li>If your team is the last one in the gym, please turn off the lights and close all doors upon exiting.</li>
          <li>We can lose the privilege of using this facility if we do not adhere to the rules.</li>
          <li>Thank you in advance for your continued cooperation.</li>
        </ul>
      <h4>Questions:</h4>
      <p class="admin-email">Peter.Jammers.VBC.Hawaii@gmail.com</p>
    </div>
  </section>
</div>