<div class="container-fluid">
   <h2>Registration</h2>
   <section class="registration text-center">
    <p>To register, or make a payment for
    any Jammers VBC Hawaii event, you
    must have a Jammers Cogran Account.<br>
    <a href="https://jammersvbc.cogran.com/HomeAccount/LogOn?ReturnUrl=%2f" target="_blank">Click here to create or access your Jammers Cogran Account</a></p>
  </section>
</div>

