<div class="container-fluid">
  <div class="tryouts-header">
    <h2>Tryouts 2015-2016</h2>
  </div>
  
  <section class="tryouts-section text-left">
    <div class="inner-section">
      <h4>Tryouts by Appointment - All Positions</h4>
        <p>We are a traveling club. A solid commitment to mainland travel is required. However, there are a few slots for non-traveling players.
      </p>
      <h4>Planned teams for the 2015-2016 club season:</h4>
        <p>11s, 12-1, 12-2, 13-1, 14-1, 15-1, 16-1, 17-1</p>

      <h4>11s (born Sep 2004 – Aug 2006)</h4>
        <p>(born in/after September 2004)
          <br>All spots available Non-travel team
        </p>
      <h4>12s (born Sep 2003 – Aug 2004)</h4>
        <p>12-1 Team(born in/after September 2003)
          <br>All spots available
          <br>Potential spring & summer travel
        </p>
        <p>12-2 Team(born in/after September 2003)
          <br>All spots available
          <br>Potential summer travel
        </p>
      <h4>13s (born Sep 2002 – Aug 2003)</h4>
        <p>13-1 Team(s)(born in/after September 2002)
          <br>All spots available 
          <br>Potential spring & summer travel
        </p>
      <h4>14s (born Sep 2001 – Aug 2002)</h4>
        <p>14-1 Team (born in/after September 2001)
          <br>All spots available
          <br>Potential spring & summer travel
        </p>
      <h4>15s (born Sep 2000 – Aug 2001)</h4>
        <p>15-1 Team(s)(born in/after September 2000)
          <br>All spots available
          <br>Potential spring & summer travel
        </p>
      <h4>16s (born Sep 1999 – Aug 2000)</h4>
        <p>16-1 Team(s)(born in/after September 1999)
          <br>All spots available
          <br>Potential spring & summer travel
        </p>
      <h4>17s (born Sep 1998 – Aug 1999)</h4>
        <p>17-1 Team(s)(born in/after September 1998)
          <br>All spots available
          <br>Potential spring & summer travel
        </p>
      <h4>Tryout Schedule</h4>
        <p>Click on "Schedule" for <a href="/calendar" target="_blank">Calendar</a> & <a href="/locations" target="_blank">Locations</a></p>
      <h4>Cost:</h4>
        <p>$10 cash per tryout day payable at gym</p>
      <h4>Attire:</h4>
        <p>Any numbered shirt
          <br>Knee pads Court shoes (volleyball shoes preferred)
        </p>
      <h4>Registration:</h4>
        <p>If you have NOT registered for any 2015 Jammers Clinics, then click on the <a href="/registration" target="_blank">Registration</a> menu button and register for 2015 Clinics
        -Registration Only (no cost)
        </p>
      
    </div>
  </section>
  
</div>